.destination{
    animation: 3s ease 0s normal 1 fadeInAnimation;
}

.destination-container{
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    align-items: center;
}

.destination-header h2{
    color: #333;
    font-family: 'Times New Roman', Times, serif;
    font-size: 72px;
    line-height: 52px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 80px;
    text-align: center;
}

.destination-subheader{
    text-align: center;
    padding-top: 10px;
}

.destination-tiles .tile-section{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-top: 10px;
    padding-top: 10px;
    gap: 10px;
    padding-bottom: 150px;
}

.tile-header{
    text-align: left;
}

/* .tile-image:hover{
    background-color: aqua;
}  */

.tile-image:hover{
    box-shadow: 1px 1px 1px 1px rgba(173, 180, 198, 0.164);
    border-radius: 3px;
    border-right: none;
}

.tile-image img{
    width: 400px;
    transition: all ease-in 3s;
    border-radius: 7px;
}

.tile-image:nth-child(1){
    animation: 3s ease 0s normal;
    margin-top: 100px;
    padding-bottom: 20px;
}

.tile-image:nth-child(3){
    animation: 3s ease 0s normal;
    padding-top: 100px;
    padding-bottom: 20px;
}


.tile-image:nth-child(5){
    animation: 3s ease 0s normal;
    padding-top: 100px;
    padding-bottom: 20px;
}

.tile-image:nth-child(7){
    animation: 3s ease 0s normal;
    padding-top: 100px;
    padding-bottom: 20px;
}

.tile-link{
    text-decoration: none;
    color: #000;
}

.tile-link .tile-header {
    font-size: xx-large;
    font-weight: 500;
    text-align: center;
}

.tile-header p{
    text-decoration: underline;
    font-size: smaller;
    font-weight: 500;
}

.tile-header p:hover{
    text-decoration: none;
    color: #ba0c2f;
}