* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .header-section {
    
    width: 100%;
    position: fixed;
    top: 0; /* Fix the header at the top */
    z-index: 1000; /* Ensure it stays on top of other content */
    border-bottom: 2px solid #cfcac9;
    background-color: #fff; /* Add background color to avoid transparency issues */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgb(255, 255, 255, 0.3);
  }
  
  .header-section .header-content {
    display: block;
    top: 0;
    background-color: #fff;
  }
  
  .header-content .list {
    padding-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 12px;
    height: 90px;
  }
  
  .list img {
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-right: 200px;
  }
  
  .list .header-logo-wrapper {
    margin-right: 450px;
  }

  .tsmart{
    object-fit: contain;
  }
  
  .list li {
    font-size: large;
    font-weight: 500;
    gap: 10px;
  }
  
  .right li a:hover {
    color: #1ca1d6;
  }
  
  ul.nav a:hover {
    color: #ba0c2f;
  }
  
  .list .right {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    padding-right: 10px;
  }

  .right li a{
    font-size: 16px;
  }
  
  .list a {
    display: flex;
    flex-direction: column;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
  }
  
  /* Adjust the page content to not be hidden behind the fixed header */
  .page-content {
    padding-top: 110px; /* Add padding equal to the height of the header */
  }

/*   
.hamburger{
  padding: 12px 0;
  height: inherit;
  min-height: 100%;
  display: block;
  
}

.hamburger .header-menu-border-icon{
  margin-bottom: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  border: 1px transparent ;
  
}

.hamburger-menu{
  background-color: transparent;
  border: none;
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  margin-left: -100px;
}

.hamburger-menu:hover{
  background-color: whitesmoke;
}

.hamburger-menu svg{
  color: red;
  background-color: transparent;
}

.upper-element{
  height: 40px;

}

.hamburger-menu svg:hover{
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(7436%) hue-rotate(335deg) brightness(112%) contrast(113%);
  pointer-events: none;
  width: 24;
  height: 24;
  fill: none;
  color: orangered;
} */

/* .side-panel.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 45vh;
  height: 100vh;
  z-index: 1000;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.side-panel.open ~.page-content {
  /* filter: blur(5px); 
  pointer-events: none;
}

.side-panel.open .page-content {
  z-index: 900;
}

.side-panel.closed {
  margin-left: -16px;
}

.collapsed{
  transition: ease-out 0.5ms;
  overflow: visible;
  visibility: collapse;
}


.side-panel.open .side-panel-content {
  width: 45vh; /* Final width: visible 
  
} */

/*  .side-panel-content.closed {
  width: 0;
}

.side-panel-content{
  position: relative;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  width: 0; 
  height: 100vh;
  transition: width 0.5s ease-in-out;
} 

.side-panel-content .hamburger-content-header{
  display: block;
  align-items: center;
  color: #fff;
  stroke: #fff;
  cursor: pointer;
  height: 40px;
  position: sticky;
  top: 0;
  stroke: #949494; 
}

.side-panel-content .hamburger-content-header{
  background-color: #ba0c2f;
  border-bottom: 0.5px solid whitesmoke;
}

.side-panel-content a.btnClose{
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
}

.side-panel-content a.btnClose:hover{
  color: #cfcac9;
}

.hamburger-content-header a.btnClose svg:hover{
  color: #cfcac9;
}

.side-panel-content .upper-element{
  background-color: #ba0c2f;
}

.side-panel-content .upper-element a{
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  align-items: center;
  justify-content: center;
}

.side-panel-content .upper-element a:hover{
  color: #cfcac9;
} 


.hamburger-content .reward svg:nth-child(4){
  color: #fff;
}

.side-panel-content span{
  margin-left: 3px;
  align-items: center;
  justify-content: center;
} 

*/

 /* .blurred {
  filter: blur(2px);
  pointer-events: none;
}

.blurred * {
  filter: blur(0);
  pointer-events: all;
}  */

   
.search-box input {
  width: 320px;
  height: 44px;
  position: relative;
  border: 1px solid #e9e3de;
  border-radius: 5px 0 0 5px;
  padding: 5px 40px 5px 16px;
  color: #333;
  font-family: var(--font-book, "Gotham SSm book A", "Gotham SSm book B", Helvetica, Arial, sans-serif);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.search-box input::placeholder{
  color: #cfcac9;
  font-size: 14px;
}

.search-box input:hover{
  border: 1px solid black;
}

.search-box button:hover {
  background-color: rgba(128, 128, 128, 0.162);
}

.search-box{
  display: flex;
  margin-left: -400px;
  gap: 20px;
}

.search-box .search-form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box label{
  position: absolute !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
  height: 1px !important;
  width: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
}


.search-box button{
  width: 44px;
  min-width: 44px;
  height: 44px;
  display: flex;
  border: 1px solid #e9e3de;
  border-radius: 0 5px 5px 0;
  border-left: none;
  background-color: #f5efeb;
  top: 0;
}

.search-box button:hover{
  background-color: rgba(128, 128, 128, 0.162);
}

.search-box button svg{
  margin-top: 9px;
  margin-left: 8px;
}

.hamburger-content-lower{
  height: calc(100% - 55px);
} */

.nav {
  border-bottom: 2px solid #cfcac9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link{
  display: flex;
  flex-direction: row;
}

.nav-link a{
  text-decoration: none;
  color: #333;
  font-size: x-small;
  font-weight: 500;
}